<div style="text-align: center; margin-top: 5rem;">
  <h1 style="font-size: 3rem; margin-bottom: 2rem;">🍳 オトレピ</h1>

  <div style="margin-bottom: 2rem;">
    <%= link_to 'レシピを登録する', new_recipe_path, class: "btn-main" %>
  </div>

  <div>
    <%= link_to 'レシピ一覧を見る', recipes_path, class: "btn-sub" %>
  </div>
</div>
